.Column {
  font-size: 12px;
  font-weight: 400;
  background-color: #f4f5f7;
  color: rgb(23, 43, 77);
  min-width: 200px;
}

.Column .card-container {
  padding: 1px 3px 0px;
}

.Column + .Column {
  margin-left: 10px;
}
