.Options {
  padding: 8px;
  font-size: 16px;
}

select.Options {
  background-color: #21b0bf;
  border: none;
  border-radius: 4px;
  outline: none;
  color: white;
}

.Options option {
  background-color: white;
  color: black;
}
